<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="delete.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class='col-md-6 offset-md-3 col-sm-12'><br><br><br>
                <h2 class="text-center">Delete</h2><br><br>
                {{#if messages.error}}
                <div class="error alert alert-danger">
                    {{messages.error}}
                </div>
                {{/if}}<br><br>
                <form action="/admin/del" method="POST">
                    <input type="text" name="ID" class="form-control" placeholder="Enter ID"><br><br>
                    <button type="submit" class="btn btn-danger">Delete</button><br><br><br>
                </form>
            </div>
        </div>
    </div>
</body>

</html>

{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="show.css">

</head> --}}

{{!-- <body>
    <ul id="list">
        {{#each ga as |g|}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{g.Image}}" alt=" Card image cap" height="286" width="180">
            <div class="card-body">
                <h5 class="card-title">{{g.Name}}</h5>
                <p class="card-text">{{g.Genre}}</p><br>
                <a href="{{g.URL}}" target="_blank" class="btn">Go
                    to
                    Steam / Owner's Page</a><br><br>
                <form action="/admin/del" method="POST">
                    <a href="/admin/del" class="btn-danger">Delete</a>
                </form>
            </div>
        </div>
        {{/each}}
    </ul>
</body> --}}